h1 {
    color: rgb(255, 0, 162);
}

p, li {
    color: rgb(247, 126, 247);
}

li {
    list-style-type: none;
}

h2.strongSpecial {
    color: rgb(255, 0, 162);
    font-weight: lighter;
}

.strongSpecial {
    color: rgb(131, 131, 255);
    font-weight: lighter;
}

header h1 {
    color: rgb(255, 0, 162);
}

a:link {
    color: rgb(247, 126, 247);
}

a:visited {
    text-decoration: rgb(255, 0, 162);
}

a:hover {
    text-decoration: none;
}

.outer {
    border: 5px solid plum;
}

.box {
    padding: 10px;
    width: calc(90% - 30px);
    background-color: rgb(251, 104, 140);
    color: white;
}

.boxTwo {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rgb(251, 104, 140);
    transform: rotate(0.8turn);
}

#Daytwothings{
    color: rgb(255, 164, 164);
    margin: 0px;
}

.parg, ul {
    border: 2px solid rgb(255, 164, 164);
    padding: .5em;
}

.block, li{
    border: 2px solid rgb(255, 164, 164);
    padding: .5em;
}

ul {
    display: flex;
    list-style: none;
}

.block {
    display: block;
}

.p, .ul{
    border:2px solid rgb(255, 164, 164);
    list-style: none;
    padding:0;
}

.inline {
    border: 2px solid rgb(255, 164, 164);
    display: inline;
}

.boxthree {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid plum;
    background:
        linear-gradient(
            105deg,
            rgb(255 164 164 / 20%) 39%,
            plum 96%
        ) center center / 400px 200px no-repeat,
        url("puppies website.jpg") center no-repeat,
        rgb(255 0 162);
        background-size: cover;
}

.boxfour {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid plum;
    background-color: blanchedalmond;
}

.boxfive {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid plum;
    background-image: url("puppies website.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.boxsix {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid plum;
    background-image: url(oo.jpg), url(bebe.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 10px 20px, top right;
}

.boxseven {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 25px;
    border: 1px solid plum;
    border-top: 15px solid rgb(131, 131, 255);
    border-bottom: 15px solid rgb(251, 104, 140);
    border-left: 15px solid rgb(247, 126, 247);
    border-right: 15px solid rgb(255, 0, 162);
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}